## 01. Import libraries

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
# Turn Project Folder into Path
path = r'/Users/tanayawinder/Desktop/6-27-2024 Instant Cart Basket Analysis'

In [6]:
# Check output
path

'/Users/tanayawinder/Desktop/6-27-2024 Instant Cart Basket Analysis'

In [10]:
# Import orders_products_prior.csv (Original Data) via OS library
ords_prior = pd.read_csv(os.path.join(path,'02 Data','Original Data', 'orders_products_prior.csv'),index_col = False)

In [12]:
ords_prior.shape

(32434489, 4)

In [14]:
# Import orders_checked.csv via OS library 

ords = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_checked.csv'),index_col = False)

In [16]:
ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,number_of_orders,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [18]:
ords.shape

(3421083, 8)

In [20]:
ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [22]:
# Merge datasets (default inner join)

merged_large = ords.merge(ords_prior, on = 'order_id', indicator = True)

In [24]:
# Export merged to pickle file

merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))