## 01. Import libraries

In [6]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [8]:
# Turn Project Folder into Path
path = r'/Users/tanayawinder/Desktop/6-27-2024 Instant Cart Basket Analysis'

In [10]:
# Check output
path

'/Users/tanayawinder/Desktop/6-27-2024 Instant Cart Basket Analysis'

In [20]:
# Import orders_products_combined.pkl (Prepared Data) via OS library
ords_prods = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [22]:
ords_prods.shape

(32434489, 12)

In [26]:
# Import products_checked.csv (Prepared Data) via OS library
prods = pd.read_csv(os.path.join(path,'02 Data','Prepared Data', 'products_checked.csv'))

In [28]:
# Check for common columns
ords_prods.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,number_of_orders,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [32]:
prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [34]:
# Merge datasets (default inner join) on product_id

df_merged = ords_prods.merge(prods, on = 'product_id', indicator = 'exists')

In [36]:
df_merged.shape

(32404859, 18)

In [38]:
df_merged.columns

Index(['Unnamed: 0.1', 'Unnamed: 0_x', 'order_id', 'user_id',
       'number_of_orders', 'order_day_of_week', 'order_hour_of_day',
       'days_since_prior_order', 'product_id', 'add_to_cart_order',
       'reordered', '_merge', 'Unnamed: 0_y', 'product_name', 'aisle_id',
       'department_id', 'prices', 'exists'],
      dtype='object')

In [46]:
# Drop column 'Unnamed: 0'

df_merged_clean = df_merged.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0_x', 'Unnamed: 0_y', '_merge', 'exists'])

In [48]:
df_merged_clean.head()

,order_id,user_id,number_of_orders,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

In [50]:
df_merged_clean.shape

(32404859, 13)

In [52]:
# Export to pickle

df_merged_clean.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))