## 01. Import libraries

In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## 02. Create file path

In [5]:
# Turn Project Folder into Path
path = r'/Users/tanayawinder/Desktop/6-27-2024 Instant Cart Basket Analysis'

In [7]:
# Check output
path

'/Users/tanayawinder/Desktop/6-27-2024 Instant Cart Basket Analysis'

## 03. Import Dataset

In [13]:
# Import customers.csv (Original Data) via OS library

df_cust = pd.read_csv(os.path.join(path,'02 Data','Original Data','customers.csv'), index_col = False)

In [15]:
# Check output

df_cust.shape

(206209, 10)

In [17]:
df_cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

## 04. 4.9 Task Part 1

#### Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that donâ€™t add anything to your analysis.

In [22]:
# make col names consistent 

df_cust = df_cust.rename(columns={'Gender': 'gender', 'STATE': 'state', 'Age': 'age', 'n_dependants': 'number_of_dependants', 'fam_status': 'family_status'})

In [24]:
df_cust.head()

,user_id,First Name,Surnam,gender,state,age,date_joined,number_of_dependants,family_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [26]:
# create new dataframe with only relevant cols

cust_2 = df_cust[['user_id','gender','state', 'age', 'date_joined', 'number_of_dependants', 'family_status', 'income']]

In [28]:
# check output
cust_2.head()

,user_id,gender,state,age,date_joined,number_of_dependants,family_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374

### Complete the fundamental data quality and consistency checks youâ€™ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data

In [31]:
# Check for mixed data types

for col in cust_2.columns.tolist():
    weird = (cust_2[[col]].applymap(type) != cust_2[[col]].iloc[0].apply(type)).any(axis=1)
    if len (cust_2[weird]) > 0:
        print (col)

/var/folders/tx/v4zzzx0x7735_gq8qjd1ddj00000gn/T/ipykernel_76370/918417143.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (cust_2[[col]].applymap(type) != cust_2[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/tx/v4zzzx0x7735_gq8qjd1ddj00000gn/T/ipykernel_76370/918417143.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (cust_2[[col]].applymap(type) != cust_2[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/tx/v4zzzx0x7735_gq8qjd1ddj00000gn/T/ipykernel_76370/918417143.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (cust_2[[col]].applymap(type) != cust_2[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/tx/v4zzzx0x7735_gq8qjd1ddj00000gn/T/ipykernel_76370/918417143.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (cust_2[[col]].applymap(type) != cust_2[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/tx/v4zzzx0x7735_gq8qjd1ddj00000gn/T/ipykernel_76370/918417143.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (cust_2[[col]].applymap(type) != cust_2[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/tx/v4zzzx0x7735_gq8qjd1ddj00000gn/T/ipykernel_76370/918417143.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (cust_2[[col]].applymap(type) != cust_2[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/tx/v4zzzx0x7735_gq8qjd1ddj00000gn/T/ipykernel_76370/918417143.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (cust_2[[col]].applymap(type) != cust_2[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/tx/v4zzzx0x7735_gq8qjd1ddj00000gn/T/ipykernel_76370/918417143.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (cust_2[[col]].applymap(type) != cust_2[[col]].iloc[0].apply(type)).any(axis=1)

There are no mixed data types.

In [34]:
cust_2.dtypes

user_id                  int64
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependants     int64
family_status           object
income                   int64
dtype: object

In [36]:
# Chanbge user_id to string
cust_2['user_id'] = cust_2['user_id'].astype(str)

/var/folders/tx/v4zzzx0x7735_gq8qjd1ddj00000gn/T/ipykernel_76370/2034871165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_2['user_id'] = cust_2['user_id'].astype(str)

In [38]:
cust_2.dtypes

user_id                 object
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependants     int64
family_status           object
income                   int64
dtype: object

In [40]:
# Check for missing values

cust_2.isnull().sum()

user_id                 0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependants    0
family_status           0
income                  0
dtype: int64

There are no missing values.

In [43]:
# Check for duplicate values

cust_2_dups = cust_2[cust_2.duplicated()]

In [45]:
cust_2_dups

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, number_of_dependants, family_status, income]
Index: []

There are no duplicate values.

### Combine your customer data with the rest of your prepared Instacart data.

In [51]:
# Import lastest ords_prods dataset to merge with cust

df_ords_prods= pd.read_pickle(os.path.join(path,'02 Data','Prepared Data', 'aggregated_ords_prods_merge.pkl'))

In [53]:
df_ords_prods.head()

,order_id,user_id,number_of_orders,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spend,spender_flag,customer_frequency,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent Customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent Customer

In [55]:
# Expand to show all columns and rows

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [57]:
df_ords_prods.head()

,order_id,user_id,number_of_orders,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spend,spender_flag,customer_frequency,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent Customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender,20.5,Non-frequent Customer

In [61]:
cust_2.shape

(206209, 8)

In [63]:
nan_values = cust_2[cust_2.isna().any(axis=1)]

In [65]:
nan_values

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, number_of_dependants, family_status, income]
Index: []

In [71]:
df_ords_prods.dtypes

order_id                    int64
user_id                     int64
number_of_orders            int64
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
price_range                object
busiest_day                object
busiest_days               object
busiest_period_of_day      object
max_order                   int64
loyalty_flag               object
avg_spend                 float64
spender_flag               object
customer_frequency        float64
frequency_flag             object
dtype: object

In [73]:
df_ords_prods['user_id'] = df_ords_prods['user_id'].astype(str)

In [75]:
df_ords_prods['order_id'] = df_ords_prods['order_id'].astype(str)

In [77]:
# merge datasets

cust_ords_prods = cust_2.merge(df_ords_prods,on='user_id',indicator=True)

In [81]:
# Export data to pkl

cust_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'cust_ords_prods.pkl'))